"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ac5f3697-0f47-4e15-8751-8d3301ab4b0a"
  "linter-flow":
    executablePath: "/Users/trecenti/.nvm/versions/node/v5.11.0/bin/flow"
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
